<div class='cms_form'>
<%  paragraph_options_form_for :create_demo do |f| -%>
  <% f.custom_field :actions do %>
      <div id='cms_triggered_actions'>
        <%= render :partial => '/editor/includes/actions' %>
      </div>
  <% end -%>
<% end -%>
</div>
